!shared/.gitkeep
/qwen-data/
/shared/
/shared/*
/shared/**
/shared/.qwen/
/shared/epk-person-core-matcher/
/shared/epk-subject-adapter-esb-get/
/shared/epk-subject-lib-bom/
/shared/epk-subject-lib-common/
/shared/epk-subject-lib-configurer-plugin/
/shared/epk-subject-lib-indexer-common/
/shared/epk-subject-lib-indexer-common-webflux/
/shared/epk-subject-lib-matcher/
/shared/epk-person-core-matcher/*
/shared/epk-subject-adapter-esb-get/*
/shared/epk-subject-lib-bom/*
/shared/epk-subject-lib-common/*
/shared/epk-subject-lib-configurer-plugin/*
/shared/epk-subject-lib-indexer-common/*
/shared/epk-subject-lib-indexer-common-webflux/*
/shared/epk-subject-lib-matcher/*
/shared/.gitkeep
